<div class="row">
  <div class="col-md-3">
    <div class="card filters">

      <div class="card-header">
        <strong>Filters</strong>
      </div>
    
      <div class="card-body">
        <form (ngSubmit)="getFilterData(filterForm)" [formGroup]="filterForm">
          <div class="form-group" >
            <label for="from">From</label>
            <input type="number" id="from" class="form-control" formControlName="from">
          </div>
    
          <div class="form-group pb-3">
            <label for="to">To</label>
            <input type="number" id="to" class="form-control"  formControlName="to">
          </div>
    
          <button class="btn btn-primary btn-block btn-sm" type="submit">Filter by Price</button>
        </form>
      </div>
    </div>
  </div>
    <div class="col-md-3 mb-3" *ngFor="let product of productList">
      <app-product-item [productItem]="product" [addedToWishlist]="wishlist.indexOf(product.id) >= 0"></app-product-item>
    </div>
</div>
